[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
loguru = "*"
webdriver-manager = "~=3.4.2"
baidu-aip = "*"
easyocr = "*"
msedge-selenium-tools = "*"
chardet = "*"

[dev-packages]
flake8 = "*"
yapf = "*"

[requires]
python_version = "3.10"
